/* Global Margin and Padding will be 0px */

* {
    margin: 0;
    padding: 0;
}


/* For device width (200-320)px and up */
@media (max-width: 200px) {

    body {
        
    }
}
/* For device width (321-360)px and up */
@media (min-width: 321px) {

    body {
        
    }
}

/* For device width (830-949)px and up */
@media (max-width: 949px) {

    body {
        
    }

    /* header design start */
    .header{
        display: none;
        /* height: 0px; */
        /* background-color: lightgreen;  
        padding: 5px; */
    }

    .header_logo{
        display: none;
        
    }

    .header_logo_sm{
        height: 62px
    }
    /* header design end */

    /* main body design start */
        /* self branding design start */
        .self_branding{
        width: 40%;
        height: 810px;
        padding-left: 25px;
        padding-top: 50px;
        float: left;
        background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/source.gif);
        color: white;
        }

        .branding{
        color: lightgreen;
        }
        
        /* short description design start */
        .hello{
        margin-top: 170px;
        color: lightgreen;
        }
            
        .myname{
        font-size: 26px;
        }   

        .short_description{
        margin-top: 40px;
        font-size: 14px;
        }
        /* short description design end */
        
        /* hire button design start */
        .hire_btn{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* hire button design end */

        /* social link design start */
        div.social{
        margin-top: 150px;
        }

        div.social > h4{
        color: lightgreen;
        text-decoration: underline;
        margin-bottom: 20px;
        }

        div.social > a > img{
        width: 27px;
        height: 27px;
        margin-right: 20px;
        }
        /* social link design end */
        /* self branding design end */
        

        /* self description design start */
        .self_description{
        width: 60%;
        height: 810px;
        float: left;
        background-color: lightgreen;
        }
        
        /* self image design start */
        .self_img{
        width: 100%;
        height: 450px;
        }
        /* self image design end */
        
        /* self resume design start */
        .self_resume{
        margin: 0px auto;
        margin-top: 10px;
        padding: 30px;
        width: 98%;
        height: 343px;
        text-align: justify;
        background-color: black;
        color: lightgreen;
        border-color: 2px solid lightgreen;
        }

        .resume_btn{
        margin-top: 15px;
        justify-content: center;
        }
        /* self resume design end */
        /* self description design end */


        /* navigation menu design start */
        .navigation_menu{
        display: none;
        /* width: 12%;
        height: 810px;
        padding: 25px 5px;
        float: left;
        background-color: black;
        color: lightgreen; */
        }
        
        /* navigation menu logo design start */
        .nav_logo{
        display: none;
        /* width: 70px;
        height: 70px; */
        }
        /* navigation menu logo design end */

        .nav{
        display: none;
        /* margin-top: 210px;
        justify-content: center; */
        }
        
        /* active navigation menu design start */
        .active{
        display: none;
        /* background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center; */
        }
        /* active navigation menu design end */
        
        /* navigation menu list design start */
        div.navigation_menu nav ul{
        list-style: none;
        text-align: center;
        }

        div.navigation_menu nav ul li{
        margin: 35px 0px;
        font-weight: bold;
        font-size: 16px;
        }

        div.navigation_menu nav ul li a{
        text-decoration: none;
        color: lightgreen;
        }
        
        /* navigation menu hover design start */
        div.navigation_menu nav ul li a:hover{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* navigation menu hover design end */
        /* navigation menu list design end */
        /* navigation menu design end */
    /* main body design end */

    /* footer design start */
    .footer{
        height: 70px;
        padding: 20px;
        background-color: black;
        text-align: center;
        color: lightgreen;
        clear: both;
        border: 2px solid lightgreen;
    }
    /* footer design end */
}

/* For device width (361-829)px and up */
@media (max-width: 829px) {

    body {
        
    }

    /* header design start */
    .header{
        display: none;
        /* height: 0px; */
        /* background-color: lightgreen;  
        padding: 5px; */
    }

    .header_logo{
        display: none;
        
    }

    .header_logo_sm{
        height: 62px
    }
    /* header design end */

    /* main body design start */
        /* self branding design start */
        .self_branding{
        width: 100%;
        height: 810px;
        padding-top: 50px;
        text-align: center;
        background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/source.gif);
        color: white;
        }

        .branding{
        color: lightgreen;
        }
        
        /* short description design start */
        .hello{
        margin-top: 170px;
        color: lightgreen;
        }
            
        .myname{
        font-size: 26px;
        }   

        .short_description{
        margin-top: 40px;
        font-size: 14px;
        }
        /* short description design end */
        
        /* hire button design start */
        .hire_btn{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* hire button design end */

        /* social link design start */
        div.social{
        margin-top: 150px;
        }

        div.social > h4{
        color: lightgreen;
        text-decoration: underline;
        margin-bottom: 20px;
        }

        div.social > a > img{
        width: 27px;
        height: 27px;
        margin-right: 20px;
        }
        /* social link design end */
        /* self branding design end */
        

        /* self description design start */
        .self_description{
        width: 100%;
        height: 810px;

        background-color: lightgreen;
        }
        
        /* self image design start */
        .self_img{
        width: 100%;
        height: 450px;
        }
        /* self image design end */
        
        /* self resume design start */
        .self_resume{
        margin: 0px auto;
        margin-top: 10px;
        padding: 30px;
        width: 98%;
        height: 343px;
        text-align: justify;
        background-color: black;
        color: lightgreen;
        border-color: 2px solid lightgreen;
        }

        .resume_btn{
        margin-top: 15px;
        justify-content: center;
        }
        /* self resume design end */
        /* self description design end */


        /* navigation menu design start */
        .navigation_menu{
        display: none;
        /* width: 12%;
        height: 810px;
        padding: 25px 5px;
        float: left;
        background-color: black;
        color: lightgreen; */
        }
        
        /* navigation menu logo design start */
        .nav_logo{
        display: none;
        /* width: 70px;
        height: 70px; */
        }
        /* navigation menu logo design end */

        .nav{
        display: none;
        /* margin-top: 210px;
        justify-content: center; */
        }
        
        /* active navigation menu design start */
        .active{
        display: none;
        /* background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center; */
        }
        /* active navigation menu design end */
        
        /* navigation menu list design start */
        div.navigation_menu nav ul{
        list-style: none;
        text-align: center;
        }

        div.navigation_menu nav ul li{
        margin: 35px 0px;
        font-weight: bold;
        font-size: 16px;
        }

        div.navigation_menu nav ul li a{
        text-decoration: none;
        color: lightgreen;
        }
        
        /* navigation menu hover design start */
        div.navigation_menu nav ul li a:hover{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* navigation menu hover design end */
        /* navigation menu list design end */
        /* navigation menu design end */
    /* main body design end */

    /* footer design start */
    .footer{
        height: 70px;
        padding: 20px;
        background-color: black;
        text-align: center;
        color: lightgreen;
        clear: both;
        border: 2px solid lightgreen;
    }
    /* footer design end */
}
/* For device width (950-1159)px and up */
@media (min-width: 950px) {

    body {
        
    }

    /* header design start */
    .header{
        background-color: lightgreen;  
        padding: 5px;
    }

    .header_logo{
        height: 62px;
    }
    /* header design end */

    /* main body design start */
        /* self branding design start */
        .self_branding{
        width: 35%;
        height: 810px;
        padding-left: 25px;
        padding-top: 50px;
        float: left;
        background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/source.gif);
        color: white;
        }

        .branding{
        color: lightgreen;
        }
        
        /* short description design start */
        .hello{
        margin-top: 170px;
        color: lightgreen;
        }
            
        .myname{
        font-size: 26px;
        }   

        .short_description{
        margin-top: 40px;
        font-size: 14px;
        }
        /* short description design end */
        
        /* hire button design start */
        .hire_btn{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* hire button design end */

        /* social link design start */
        div.social{
        margin-top: 150px;
        }

        div.social > h4{
        color: lightgreen;
        text-decoration: underline;
        margin-bottom: 20px;
        }

        div.social > a > img{
        width: 27px;
        height: 27px;
        margin-right: 20px;
        }
        /* social link design end */
        /* self branding design end */
        

        /* self description design start */
        .self_description{
        width: 53%;
        height: 810px;
        float: left;
        background-color: lightgreen;
        }
        
        /* self image design start */
        .self_img{
        width: 100%;
        height: 450px;
        }
        /* self image design end */
        
        /* self resume design start */
        .self_resume{
        margin: 0px auto;
        margin-top: 10px;
        padding: 30px;
        width: 98%;
        height: 343px;
        text-align: justify;
        background-color: black;
        color: lightgreen;
        border-color: 2px solid lightgreen;
        }

        .resume_btn{
        margin-top: 15px;
        justify-content: center;
        }
        /* self resume design end */
        /* self description design end */


        /* navigation menu design start */
        .navigation_menu{
        width: 12%;
        height: 810px;
        padding: 25px 5px;
        float: left;
        background-color: black;
        color: lightgreen;
        }
        
        /* navigation menu logo design start */
        .nav_logo{
        width: 70px;
        height: 70px;
        }
        /* navigation menu logo design end */

        .nav{
        margin-top: 210px;
        justify-content: center;
        }
        
        /* active navigation menu design start */
        .active{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* active navigation menu design end */
        
        /* navigation menu list design start */
        div.navigation_menu nav ul{
        list-style: none;
        text-align: center;
        }

        div.navigation_menu nav ul li{
        margin: 35px 0px;
        font-weight: bold;
        font-size: 16px;
        }

        div.navigation_menu nav ul li a{
        text-decoration: none;
        color: lightgreen;
        }
        
        /* navigation menu hover design start */
        div.navigation_menu nav ul li a:hover{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* navigation menu hover design end */
        /* navigation menu list design end */
        /* navigation menu design end */
    /* main body design end */

    /* footer design start */
    .footer{
        height: 70px;
        padding: 20px;
        background-color: black;
        text-align: center;
        color: lightgreen;
        clear: both;
        border: 2px solid lightgreen;
    }
    /* footer design end */

    .navbar{
        display: none
    }
}
/* For device width (1220-1359)px and up */
@media (min-width: 1160px) {

    body {
        
    }

    /* header design start */
    .header{
        background-color: lightgreen;  
        padding: 5px;
    }

    .header_logo{
        height: 62px;
    }
    /* header design end */

    /* main body design start */
        /* self branding design start */
        .self_branding{
        width: 35%;
        height: 810px;
        padding-left: 25px;
        padding-top: 50px;
        float: left;
        background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/source.gif);
        color: white;
        }

        .branding{
        color: lightgreen;
        }
        
        /* short description design start */
        .hello{
        margin-top: 170px;
        color: lightgreen;
        }
            
        .myname{
        font-size: 32px;
        }   

        .short_description{
        margin-top: 40px;
        font-size: 16px;
        }
        /* short description design end */
        
        /* hire button design start */
        .hire_btn{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* hire button design end */

        /* social link design start */
        div.social{
        margin-top: 150px;
        }

        div.social > h4{
        color: lightgreen;
        text-decoration: underline;
        margin-bottom: 20px;
        }

        div.social > a > img{
        width: 27px;
        height: 27px;
        margin-right: 20px;
        }
        /* social link design end */
        /* self branding design end */
        

        /* self description design start */
        .self_description{
        width: 53%;
        height: 810px;
        float: left;
        background-color: lightgreen;
        }
        
        /* self image design start */
        .self_img{
        width: 100%;
        height: 450px;
        }
        /* self image design end */
        
        /* self resume design start */
        .self_resume{
        margin: 0px auto;
        margin-top: 10px;
        padding: 30px;
        width: 98%;
        height: 343px;
        text-align: justify;
        background-color: black;
        color: lightgreen;
        border-color: 2px solid lightgreen;
        }

        .resume_btn{
        margin-top: 25px;
        justify-content: center;
        }
        /* self resume design end */
        /* self description design end */


        /* navigation menu design start */
        .navigation_menu{
        width: 12%;
        height: 810px;
        padding: 25px 5px;
        float: left;
        background-color: black;
        color: lightgreen;
        }
        
        /* navigation menu logo design start */
        .nav_logo{
        width: 70px;
        height: 70px;
        }
        /* navigation menu logo design end */

        .nav{
        margin-top: 210px;
        justify-content: center;
        }
        
        /* active navigation menu design start */
        .active{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* active navigation menu design end */
        
        /* navigation menu list design start */
        div.navigation_menu nav ul{
        list-style: none;
        text-align: center;
        }

        div.navigation_menu nav ul li{
        margin: 35px 0px;
        font-weight: bold;
        font-size: 16px;
        }

        div.navigation_menu nav ul li a{
        text-decoration: none;
        color: lightgreen;
        }
        
        /* navigation menu hover design start */
        div.navigation_menu nav ul li a:hover{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* navigation menu hover design end */
        /* navigation menu list design end */
        /* navigation menu design end */
    /* main body design end */

    /* footer design start */
    .footer{
        height: 70px;
        padding: 20px;
        background-color: black;
        text-align: center;
        color: lightgreen;
        clear: both;
        border: 2px solid lightgreen;
    }
    /* footer design end */

    .navbar{
        display: none
    }
}
/* For device width (1350-1629)px and up */
@media (min-width: 1360px) {

    body {
        
    }

    /* header design start */
    .header{
        background-color: lightgreen;  
        padding: 5px;
    }

    .header_logo{
        height: 62px;
    }
    /* header design end */

    /* main body design start */
        /* self branding design start */
        .self_branding{
        width: 35%;
        height: 810px;
        padding-left: 50px;
        padding-top: 50px;
        float: left;
        background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/source.gif);
        color: white;
        }

        .branding{
        color: lightgreen;
        }
        
        /* short description design start */
        .hello{
        margin-top: 170px;
        color: lightgreen;
        }
            
        .myname{
        font-size: 35px;
        }   

        .short_description{
        margin-top: 40px;
        font-size: 18px;
        }
        /* short description design end */
        
        /* hire button design start */
        .hire_btn{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* hire button design end */

        /* social link design start */
        div.social{
        margin-top: 150px;
        }

        div.social > h4{
        color: lightgreen;
        text-decoration: underline;
        margin-bottom: 20px;
        }

        div.social > a > img{
        width: 27px;
        height: 27px;
        margin-right: 20px;
        }
        /* social link design end */
        /* self branding design end */
        

        /* self description design start */
        .self_description{
        width: 53%;
        height: 810px;
        float: left;
        background-color: lightgreen;
        }
        
        /* self image design start */
        .self_img{
        width: 100%;
        height: 530px;
        }
        /* self image design end */
        
        /* self resume design start */
        .self_resume{
        margin: 0px auto;
        margin-top: 10px;
        padding: 30px;
        width: 98%;
        height: 264px;
        text-align: justify;
        background-color: black;
        color: lightgreen;
        border-color: 2px solid lightgreen;
        }

        .resume_btn{
        margin-top: 8px;
        justify-content: center;
        }
        /* self resume design end */
        /* self description design end */


        /* navigation menu design start */
        .navigation_menu{
        width: 12%;
        height: 810px;
        padding: 25px 20px;
        float: left;
        background-color: black;
        color: lightgreen;
        }
        
        /* navigation menu logo design start */
        .nav_logo{
        width: 70px;
        height: 70px;
        }
        /* navigation menu logo design end */

        .nav{
        margin-top: 210px;
        justify-content: center;
        }
        
        /* active navigation menu design start */
        .active{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* active navigation menu design end */
        
        /* navigation menu list design start */
        div.navigation_menu nav ul{
        list-style: none;
        text-align: center;
        }

        div.navigation_menu nav ul li{
        margin: 35px 0px;
        font-weight: bold;
        font-size: 18px;
        }

        div.navigation_menu nav ul li a{
        text-decoration: none;
        color: lightgreen;
        }
        
        /* navigation menu hover design start */
        div.navigation_menu nav ul li a:hover{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* navigation menu hover design end */
        /* navigation menu list design end */
        /* navigation menu design end */
    /* main body design end */

    /* footer design start */
    .footer{
        height: 70px;
        padding: 20px;
        background-color: black;
        text-align: center;
        color: lightgreen;
        clear: both;
        border: 2px solid lightgreen;
    }
    /* footer design end */

    .navbar{
        display: none
    }
}

/* For device width 1630px and up */
@media (min-width: 1630px) {

    body {
        
    }

/* header design start */
    .header{
        background-color: lightgreen;  
        padding: 5px;
    }

    .header_logo{
        height: 62px;
    }
    /* header design end */

    /* main body design start */
        /* self branding design start */
        .self_branding{
        width: 40%;
        height: 810px;
        padding-left: 50px;
        padding-top: 50px;
        float: left;
        background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/source.gif);
        color: white;
        }

        .branding{
        color: lightgreen;
        }
        
        /* short description design start */
        .hello{
        margin-top: 170px;
        color: lightgreen;
        }
            
        .myname{
        font-size: 50px
        }   

        .short_description{
        margin-top: 40px;
        font-size: 25px;
        }
        /* short description design end */
        
        /* hire button design start */
        .hire_btn{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* hire button design end */

        /* social link design start */
        div.social{
        margin-top: 150px;
        }

        div.social > h4{
        color: lightgreen;
        text-decoration: underline;
        margin-bottom: 20px;
        }

        div.social > a > img{
        width: 27px;
        height: 27px;
        margin-right: 20px;
        }
        /* social link design end */
        /* self branding design end */
        

        /* self description design start */
        .self_description{
        width: 50%;
        height: 810px;
        float: left;
        background-color: lightgreen;
        }
        
        /* self image design start */
        .self_img{
        width: 100%;
        height: 550px;
        }
        /* self image design end */
        
        /* self resume design start */
        .self_resume{
        margin: 0px auto;
        margin-top: 10px;
        padding: 30px;
        width: 98%;
        height: 243px;
        background-color: black;
        color: lightgreen;
        text-align: justify;
        border-color: 2px solid lightgreen;
        }

        .resume_btn{
        margin-top: 8px;
        justify-content: center;
        }
        /* self resume design end */
        /* self description design end */


        /* navigation menu design start */
        .navigation_menu{
        width: 10%;
        height: 810px;
        padding: 25px;
        float: left;
        background-color: black;
        color: lightgreen;
        }
        
        /* navigation menu logo design start */
        .nav_logo{
        width: 70px;
        height: 70px;
        }
        /* navigation menu logo design end */

        .nav{
        margin-top: 210px;
        justify-content: center;
        }
        
        /* active navigation menu design start */
        .active{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* active navigation menu design end */
        
        /* navigation menu list design start */
        div.navigation_menu nav ul{
        list-style: none;
        text-align: center;
        }

        div.navigation_menu nav ul li{
        margin: 35px 0px;
        font-weight: bold;
        font-size: 18px;
        }

        div.navigation_menu nav ul li a{
        text-decoration: none;
        color: lightgreen;
        }
        
        /* navigation menu hover design start */
        div.navigation_menu nav ul li a:hover{
        background: transparent;
        color: lightgreen;
        padding: 5px 12px;
        border: 2px solid lightgreen;
        text-align: center;
        }
        /* navigation menu hover design end */
        /* navigation menu list design end */
        /* navigation menu design end */
    /* main body design end */

    /* footer design start */
    .footer{
        height: 70px;
        padding: 20px;
        background-color: black;
        text-align: center;
        color: lightgreen;
        clear: both;
        border: 2px solid lightgreen;
    }
    /* footer design end */

    .navbar{
        display: none
    }
}


@media (min-width: 200px){
    ./* header{
        display: none;
    } */
}


